.demo-drawer-header {
  height: auto;
}

.article-list {
  display: table;
  white-space: normal;

  th, td {
    padding-bottom: 12px;
  }

  .cell--xs {
    padding-left: 0;

    @media screen and (min-width: $bp-desktop) {
      min-width: 80px;
    }
  }

  .cell--s {
    @media screen and (min-width: $bp-desktop) {
      min-width: 150px;
    }
  }

  a.material-icons {
    text-decoration: none;
  }
}

.article-adder {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
}

.dashboard-section {
  padding: 20px;

  @media screen and (max-width: $bp-tablet) {
    width: calc(100% - 16px);
  }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  &:hover,
  &.is-active {
    background-color: #00BCD4;
    color: #37474F;
  }
}

.dashboard-datetime-wrapper {
  margin-bottom: 40px;
}
