.demo-drawer-header {
  height: auto;
}

.article-list {
  display: table;
  white-space: normal;

  th, td {
    padding-bottom: 12px;
  }

  .cell--xs {
    padding-left: 0;

    @media screen and (min-width: $bp-desktop) {
      min-width: 80px;
    }
  }

  .cell--s {
    @media screen and (min-width: $bp-desktop) {
      min-width: 150px;
    }
  }

  .extract {
    max-width: 250px;
  }

  a.material-icons {
    text-decoration: none;
  }
}

.article-adder {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
}

.dashboard-section {
  padding: 20px;

  @media screen and (max-width: $bp-tablet) {
    width: calc(100% - 16px);
  }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  &:hover,
  &.is-active {
    background-color: #00BCD4;
    color: #37474F;
  }
}

.dashboard-datetime-wrapper {
  margin-bottom: 40px;
}


.demo-chart {
  text-align: center;
  align-self: flex-start;

  .mdl-typography--title {
    margin-bottom: 5px;

    + .mdl-typography--title {
      margin: 0;
    }
  }
}

.dashboard-index-card {
  min-height: 0;
  height: 80px;

  &.js-isExpanded {
    height: auto;
  }
  h5 {
    margin-top: 0;
  }
}

.dashboard-index-card__list {
  list-style: none;
  padding: 0;
  display: none;

  .js-isExpanded & {
    display: block;
  }
}

.dashboard-index-card__action {
  display: none;

  .js-isExpanded & {
    display: block;
  }
}

.dashboard-index-card__list-item {
  i {
    color: rgb(244, 67, 54);
  }

  &.is-published {
    i {
      color: rgb(76, 175, 80);
    }
  }
}

.dashboard-pagination {
  list-style: none;
  padding: 10px;

  li {
    display: inline-block;

    &:not(:first-child):before {
      content: " | ";
    }

    a {
      text-decoration: none;
    }

  }
}
