.form-errors {
  ul {
    padding: 0;

    li {
      font-size: 12px;
      color: rgb(244, 67, 54);
      list-style: none;
    }
  }
}

.file-upload-label {
  color: rgb(63,81,181);
  font-size: 12px;
}

#publicbundle_post_picture_file {
  margin-bottom: 10px;
}

.form-alert {
  color: #de3226;
}
