.home-contentWrapper {
  display: flex;
  padding-top: 1rem;
}

.news--primary {
  max-width: 50%;
}

.news--secondary {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.sidebar {
  min-width: 20%;
  margin: .5em 0 1rem 1rem;
}
