.news--primary {
  max-width: 50%;
}

.news--secondary {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  flex-grow: 1;
}

.sidebar {
  width: 25%;
  margin: .5em 0 1rem 1rem;
  flex-shrink: 0;
}
