.base-wrapper {
  max-width: 840px;
  margin: 48px auto;
  display: flex;

  @media screen and (max-width: $bp-mini-laptop) {
    max-width: 90%;
  }

  @media screen and (max-width: $bp-tablet) {
    flex-direction: column;
  }

}

.demo-ribbon {
  background-size: cover;
}

.demo-content--no-spacing {
  padding: 0;
}

.demo-ribbon {
  height: 50vh;
  background-position: center;
}

.demo-main {
  margin-top: -20vh;
}

.news-content-wrapper {
  padding: 80px 56px;
}

.comment-section {
  padding: 40px 56px;
  background: #EEE;
  margin-bottom: 0;
}

// Used in comments
.section__text {
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.13);
  }

  p, h5 {
    font-size: 13px;
  }
}

.page-content {
  padding: 20px;
  max-width: calc(880px - 400px);
  margin-right: 10px;
  background: #fff;

  h1 {
    margin-top: 0;
  }
}

.content-img {
  max-width: 100%;
  + p {
    padding-top: 25px;
  }
}

#load-more-btn {
  display: block;
  margin: 30px auto 0;
}
