<nav id="list-edit-nav" data-type="{{ type }}">
  <button id="list-items-delete" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
    <i class="material-icons">delete</i>
  </button>
  <div class="mdl-tooltip" for="list-items-delete">Supprimer</div>

  <button id="list-items-unpublish" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
    <i class="material-icons">lock_outline</i>
  </button>
  <div class="mdl-tooltip" for="list-items-unpublish">Dépublier</div>

  <button id="list-items-publish" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
    <i class="material-icons">lock_open</i>
  </button>
  <div class="mdl-tooltip" for="list-items-publish">Publier</div>
</nav>
