.card-info {
  line-height: 3rem;
}

.card-comments {
  border-top: 1px solid #e0e0e0;
  margin-top: 1rem;
  padding-top: 1rem;

  i {
    vertical-align: middle;
    color: #01579b;
    padding-right: 1rem;
  }
}

.card {
  .card-action {
    a {
      color: #039be5;
    }
  }
}
