.comments {
  padding: 1rem;

  h4, p {
    text-align: center;
  }
}

.comment {
  margin-bottom: 3rem;
  padding: 0 2rem;

}

.comment-author {
  font-size: .8rem;
  color: #9e9e9e;
  font-weight: bold;
  line-height: 1.2;
}

.comment-info {
  font-weight: normal;
}


.comment-form {
  text-align: right;
  padding: 2rem;
}

.comment-formIcon {
  text-align: left;
}
