.form-choices {

  margin-top: 40px !important;
  padding: 0;
  border-top: 3px double #CCC;


  li {
    list-style: none;
    border-top: 3px double #CCC;
    display: block;
    margin-top: 40px;
    padding-top: 40px;

    &:first-child {
      border-top: 0;
    }
  }
}
