.modal {
  @extend .mdl-card;
  @extend .mdl-shadow--2dp;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 50% 50%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;

  &.js-isShown {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);

    + .overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}

.modal-content {
  padding: 20px;
}

.modal-closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
}
