.news-wrapper {
  width: 100%;
}

.news-item {
  @extend .z-depth-1;
  padding: 1rem;
  margin: .5rem 0 1rem;
  position: relative;
}

.news-itemThumb {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  overflow: hidden;
  background-size: auto 100%;
  background-position: center center;
  transition: all .5s ease-in-out;

  &:hover {
    background-size: auto 125%;
  }
}

.news-itemDetails {
  width: 75%;
  margin-left: 25%;
}

.news-itemTitle {
  font-size: 2rem;
}

.news-itemDetails {
  padding-left: 1rem;
}

.singleNews-wrapper {
  @extend .z-depth-1;
  margin-top: .5rem;
  border-radius: 2px;
}

.singleNews-thumb {
  background-size: cover;
  height: 400px;
  background-position: 50% 50%;
  display: block;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}

.singleNews-content {
  padding: 1rem;
}

.singleNews-info {
  line-height: 3rem;
}
