<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container center">
    © {{ "now" | date('Y') }} E-lycée. Tous droits réservés.
    <a class="grey-text text-lighten-4" href="{{ url("public.legal.index")}}">Mentions légales</a>
     |
    <a class="grey-text text-lighten-4" href="{{ url("public.contact.index")}}">Contact</a>
    </div>
  </div>
</footer>
