<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <div class="mdl-logo">© {{ "now" | date('Y') }} E-lycée. Tous droits réservés.</div>
    <ul class="mdl-mini-footer--link-list">
      <li><a href="{{ url("public.legal")}}">Mentions légales</a></li>
      <li><a href="{{ url("public.contact")}}">Contact</a></li>
    </ul>
  </div>
</footer>
