<div class="modal" id="modal">
  <button class="modal-closeBtn js-modalSwitch mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="material-icons">close</i></button>
  <div class="modal-content" id="modalContent"></div>
</div>
<div class="overlay"></div>
