<div class="container">
  <nav>
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down">
        <li><a href="{{ url('public.home.index')}}">Home</a></li>
        <li><a href="{{ url('public.news.index')}}">Actus</a></li>
        <li><a href="#">Le lycée</a></li>
      </ul>
      <form class="search-form">
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
  </nav>
</div>
