{% set route = app.request.attributes.get('_route') %}
{% set home = 'public.home.index' %}
{% set news = 'public.news.index' %}

<div class="container">
  <nav>
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down">
        <li {% if route == home %}class="active"{% endif %}><a href="{{ url(home)}}">Home</a></li>
        <li {% if route == news %}class="active"{% endif %}><a href="{{ url(news)}}">Actus</a></li>
        <li><a href="#">Le lycée</a></li>
      </ul>
      <form class="search-form">
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
  </nav>
</div>
