 {{ render(controller('PublicBundle:Public:searchBar')) }}


<h3 class="mdl-typography--headline">A lire aussi</h3>
<ul class="sidebar__list">
    {{ render(controller('PublicBundle:Public:recentArticles', { 'max': 5 })) }}
</ul>

<h3 class="mdl-typography--headline">Derniers tweets</h3>
{{ render(controller('PublicBundle:Public:latestTweets')) }}
