<aside class="sidebar">
  <h3 class="sidebar-title">A lire aussi</h3>
  <div class="collection">
    <a href="#!" class="collection-item">Lien 1</a>
    <a href="#!" class="collection-item">Lien 2</a>
    <a href="#!" class="collection-item">Lien 3</a>
  </div>

  <h3 class="sidebar-title">Derniers tweets</h3>
</aside>
