<aside class="sidebar">
  <h3 class="sidebar-title">A lire aussi</h3>
  <div class="collection">
    {{ render(controller('PublicBundle:Public:recentArticles', { 'max': 5 })) }}
  </div>

  <h3 class="sidebar-title">Derniers tweets</h3>
  <div class="collection">
    {{ render(controller('PublicBundle:Public:latestTweets')) }}
  </div>
</aside>
