<nav class="primary-nav">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">E-lycée</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Connexion</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </div>
</nav>
