<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "PublicBundle::includes/topbar.html.twig" %}
        {% include "PublicBundle::includes/navbar.html.twig" %}

        <div class="container home-contentWrapper">
            {% block mainContent %}{% endblock %}
            {% include "PublicBundle::includes/sidebar.html.twig" %}
        </div>

        {% include "PublicBundle::includes/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
        <script type='text/javascript' src="{{ asset('js/scripts.js') }}"></script>
        {% if browser_sync == true %}
            <script type='text/javascript' id="__bs_script__">//<![CDATA[
                document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.7.13.js'><\/script>".replace("HOST", location.hostname));
            //]]>
            </script>
        {% endif %}
    </body>

</html>
